In [1]:
import numpy as np
import pandas as pd

In [6]:
data= pd.read_csv(r"C:\Users\ASUS\Desktop\MachineLearning\CSV\play_tennis.csv")

In [7]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [9]:
# Problem 1
# Outlook=Sunny, Temp = hot, humidity = high, wind = weak
# play or no play?

In [12]:
# Solution 

# P(yes/ sunny,hot,high,weak) = P(sunny/yes) * P(hot /yes) * P(high / yes) * P(weak/yes) * P(yes)
# P(no/ sunny,hot,high,weak) = P(sunny/no) * P(hot /no) * P(high / no) * P(weak/no) * P(no)

# Compare and decide using the Maximum a posteriori rule (MAP rule)

In [ ]:
# Problem 2
# Outlook=overcast, Temp = cold, humidity = low, wind = weak
# play or no play?

In [13]:
# Solution 

# P(yes/ overcast,cold,low,weak) = P(overcast/yes) * P(cold /yes) * P(low / yes) * P(weak/yes) * P(yes)
# P(no/ overcast,cold,low,weak) = P(overcast/no) * P(cold /no) * P(low / no) * P(weak/no) * P(no)

# Compare and decide using the Maximum a posteriori rule (MAP rule)

In [ ]:
# Training phase : 

# Create a Lookup Table(Stores in a form of Dictionary and stores all types of probablity)
# So, let's create the lookup table

In [14]:
# P(Yes)
# P(No)

In [15]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [44]:
py = 9/14
pn = 5/14

In [45]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [46]:
# Outlook column

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [48]:
Pon = 0 # P(overcast/no)
Prn = 2/5
Psn = 3/5
Poy = 4/9
Pry = 3/9
Psy = 2/9

In [49]:
# temp column

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [50]:
PCoolNo = 1/5
PHotNo= 2/5
PMildNo = 2/5
PCoolYes = 3/9
PHotYes = 2/9
PMildYes= 4/9

In [61]:
# Humidity
pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [72]:
PHighNo = 4/5
PNormalNo = 1/5
PHighYes = 3/9
PNormalYes = 6/9

In [73]:
# Outlook column

pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [74]:
PStrongNo= 3/9
PWeakNo = 2/9
PStrongYes=3/9
PWeakYes=6/9

In [75]:
# Solving Problem 1
# Outlook=Sunny, Temp = hot, humidity = high, wind = weak

In [76]:
Pyes =py * Psy * PHotYes * PHighYes * PWeakYes

In [78]:
Pno =pn * Psn * PHotNo * PHighNo * PWeakNo

In [79]:
print(Pyes)
print(Pno)

0.007054673721340388
0.015238095238095238

In [80]:
# Solution = No Play